.ui.header {
  font-family: 'Lakki Reddy';
  padding-top: 20px;

  @at-root h1#{&} {
    font-size: 3rem;
    text-shadow: 1px 1px 5px #111;
  }

  a {
    color: #000;

    &:hover {
      color: #000;
    }
  }
}

.controls {
  padding-bottom: 20px;

  .dropdown {
    margin-right: 10px;
  }
}